BeautifulSoup==3.2.1
Coffin==0.3.8
Django==1.6.5
Jinja2==2.7.2
MarkupSafe==0.23
MySQL-python==1.2.5
South==0.8.4
WTForms==1.0.5
WTForms-ParsleyJS==0.1.4
anyjson==0.3.3
argparse==1.2.1
django-appconf==0.6
django-compressor==1.3
django-devserver==0.8.0
django-inspectdb==0.2.1
django-reversion==1.8.0
django-tags-input==1.9.1
django-utils2==1.7.0
gunicorn==18.0
guppy==0.1.10
ipdb==0.8
ipython==2.0.0
lxml==3.3.5
pep8==1.5.6
pyflakes==0.8.1
python-dateutil==2.2
python-utils==1.5.2
pytz==2014.3
raven==4.2.1
six==1.6.1
sqlparse==0.1.11
virtualenv==1.11.5
wsgiref==0.1.2
