-f http://c.pypi.python.org/simple
Django==1.6
anyjson
django-utils2
python-utils
django-reversion==1.8.0
Coffin
Jinja2
South==0.8.3
ipdb
ipython
lxml
pep8
pyflakes
sqlparse
virtualenv
virtualenvwrapper
python-dateutil
django-tags-input
django-devserver
distribute
