{% extends 'dinner/base.html' %}

{% import 'dinner/_macros.html' as dinner_macros %}

{% block body %}
{{ super() }}

<form id="dinner_signup" method="post" action="{{ request.path }}" role="form">
    {% csrf_token %}
    <h3>Inschrijven</h3>

    <div class="form-group">
        {{ dinner_macros.render_field(create_form.name) }}
    </div>
    <div class="form-group">
        {{ dinner_macros.render_field(create_form.email) }}
    </div>
    <div class="form-group">
        {{ dinner_macros.render_field(create_form.comment, **{'parsley-validation-minlength': 0}) }}
    </div>

    <div>
        <div id="signup_errors">
        {% if create_form.errors %}
            <div class="alert alert-danger">
            {% for field, errors in create_form.errors.iteritems() %}
                {{ create_form[field].label }}: {{ ', '.join(errors) }}<br>
            {% endfor %}
            </div>
        {% endif %}
        </div>

        <table class="table" id="courses">
            <tr>
                <th>{{ _('Datum') }}</th>
                <th>{{ _('Kok(s)') }}</th>
                <th>{{ _('Keuze') }}</th>
            </tr>

            {% for dinner in create_form.dinners %}
            <tr>
                <td rowspan="2" title="{{ dinner.date }}">{{ dinner.date }}: {{ dinner.date.strftime('%A') }}</td>
                <td>{{ dinner.get_cooks() }}</td>
                <td>{{ dinner.field(disabled=dinner.is_expired, button={
                    'data-loading-text': 'Signing up...',
                    'data-date': dinner.date,
                }) }}
                </td>
            </tr>
            <tr>
                <td colspan="2">{{ dinner.description|default('') }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div id="signup_tabs">
        <div class="tabs-container">
            <h3>{{ _('Inschrijvingen') }}</h3>
            <ul class="nav nav-tabs">
            {% for dinner_date, reservations in reservations %}
            <li
                class="{% if date == dinner_date %}active{% endif %}"
                    data-date="{{ dinner_date }}">
                <a
                    href="{{ url('dinner:index', date=dinner_date) }}"
                    title="{{ dinner_date }}">
                    {{ dinner_date.strftime('%A') }}
                    <span class="label {% if reservations %}label-danger{% else %}label-default{% endif %}"
                    >{{ reservations|length }}</span>
                </a>
            </li>
            {% endfor %}
            </ul>

            <div class="tab-content">
                {% for dinner_date, reservations in reservations %}
                <div data-date="{{ dinner_date }}" class="tab-pane {% if date == dinner_date %}active{% endif %}" id="signup_{{ dinner_date }}">
                    <table class="table">
                        <tr>
                            <th>{{ _('Datum') }}</th>
                            <th>{{ _('Naam') }}</th>
                            <th>{{ _('Keuze') }}</th>
                            <th>{{ _('Opmerkingen') }}</th>
                            <th>{{ _('Verwijderen') }}</th>
                        </tr>

                        {% for reservation in reservations %}
                        <tr>
                            <td title="{{ dinner_date }}">{{ dinner_date.strftime('%A') }}</td>
                            <td>{{ reservation.name }}</td>
                            <td>{{ reservation.course }}</td>
                            <td>{{ reservation.comments }}</td>
                            <td>{{ reservation.field(
                                disabled=(
                                    reservation.dinner.is_expired
                                    or (
                                        reservation not in user_reservations
                                        and not request.user.is_staff
                                    )
                                ),
                                button={
                                    'data-skip-validation': 'true',
                                    'data-loading-text': 'Removing...',
                                    'autocomplete': 'off',
                                },
                            ) }}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</form>

{% endblock body %}

{% block footer_js %}
{{ super() }}

<script type="text/javascript" charset="utf-8">
var STATE_KEY = '{{ app }}.{{ view }}.form';
var BASE_URL = '{{ url('dinner:index') }}';

;(function($, window, document, undefined){

var pluginName = 'Tabs';
var Tabs = function(elem, options){
    this.elem = elem;
    this.$elem = $(elem);
    this.options = options;
    this.metadata = this.$elem.data('tabs-options')
}


Tabs.prototype = {
    defaults: {
        activeTabClass: 'active',
        activeButtonClass: 'active',
        tabSelector: 'div.tab-pane',
        buttonSelector: 'ul.nav-tabs li',
        dataProperty: 'tab',
    },
    init: function(){
        this.options = $.extend(true, {}, this.defaults, this.options,
            this.metadata);
        this.tab = this.getActiveTab().data(this.options.dataProperty);
        this.activate();

        return this;
    },
    getTabs: function(){
        return this.$elem.find(this.options.tabSelector);
    },
    getButtons: function(){
        return this.$elem.find(this.options.buttonSelector);
    },
    getActiveTab: function(){
        return this.getTabs().filter('.' + this.options.activeTabClass);
    },
    getActiveButton: function(){
        return this.getButtons().filter('.' + this.options.activeButtonClass);
    },
    getTab: function(tab){
        return this.getTabs().filter(
            '[data-' + this.options.dataProperty + '="' + tab + '"]');
    },
    getButton: function(tab){
        return this.getButtons().filter(
            '[data-' + this.options.dataProperty + '="' + tab + '"]');
    },
    activate: function(){
        /* Support both with and without event */
        var tab = this.tab;
        if(arguments.length)tab = arguments[arguments.length - 1];

        /* Make sure we set the current tab for the next call */
        this.tab = tab;

        /* Remove the active class from the button and tab to hide it */
        this.getActiveTab().removeClass(this.options.activeTabClass);
        this.getActiveButton().removeClass(this.options.activeButtonClass);

        /* Add the active class to show the new button and tab */
        this.getTab(tab).addClass(this.options.activeTabClass);
        this.getButton(tab).addClass(this.options.activeButtonClass);

        /* Cancel whatever event was linked to this */
        return false;
    },
};

$.fn.tabs = function(options){
    return (new Tabs(this, options).init());
};

$.fn.tabsie = function(config){
    var tab;
    return {
        getActiveTab: getActiveTab,
        getActiveButton: getActiveButton,
        getTab: getTab,
        getButton: getButton,
        getTabs: getTabs,
        getButtons: getButtons,
        activate: activate,
    }
    return {
        getActiveTab: $.proxy(getActiveTab, this),
        getActiveButton: $.proxy(getActiveButton, this),
        getTab: $.proxy(getTab, this),
        getButton: $.proxy(getButton, this),
        getTabs: $.proxy(getTabs, this),
        getButtons: $.proxy(getButtons, this),
        activate: $.proxy(activate, this),
    }
}

})(jQuery, window, document);


var tabs = $('#signup_tabs').tabs({dataProperty: 'date'});
History.Adapter.bind(window, 'statechange', function(e){
    $('form').attr('action', document.location.pathname);
    tabs.activate(History.getState().data.tab);
});

jQuery(function($){
    var form = $('form#dinner_signup');
    var visible_inputs =  form.find(':input:visible');

    /* Restore the state from localStorage if available */
    var state = localStorage.getItem(STATE_KEY)
    if(state)
        form.unserializeForm(state, {'override-values': false});

    /* Save the form state (name, email, etc...) to localStorage */
    function saveState(){
        localStorage.setItem(STATE_KEY, visible_inputs.serialize());
    }
    visible_inputs
        .on('keyup', saveState)
        .on('change', saveState);

    /* Making sure our tabs work with the browser history */
    $('#signup_tabs').on('click', 'li[data-date]', function(e){
        /* Change the url so reloads work :) */
        var tab = $(this).data('date');
        History.pushState({tab: tab}, null, BASE_URL + tab + '/');
        return false;
    });

    /* Submit the forms with ajax */
    $('#courses, #signup_tabs').on('click', 'button.btn', function(e){
        var $this = $(this);
        if(!$this.data('skip-validation') && !form.parsley('validate'))
            return false;

        /* Switch to the right tab */
        var tab = $this.data('date');
        if(tab){
        History.pushState({tab: tab}, null, BASE_URL + tab + '/');
        }

        /* Set the button to the loading state */
        $this.button('loading');

        $.ajax({
            url: document.location.href,
            type: 'POST',
            data: $.extend(
                form.serializeArray(),
                [{name: this.name, value: this.value}]
            ),
            success: function(data){
                $('div#signup_tabs div.tabs-container').html(
                    $(data).find('div#signup_tabs div.tabs-container').children());
                $this.button('reset');
                tabs.activate();
            },
            dataType: 'html'
        });
        return false;
    });
});
</script>
{% endblock footer_js %}
