<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title>{% block title %}{% endblock title %}</title>

{% block head %}
{% endblock head %}

<!-- Bootstrap core CSS -->
{% compress css %}
<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet">
<link href="{{ STATIC_URL }}tagmanager/tagmanager.css" type="text/css" rel="stylesheet">
<style type="text/css">
    .table > tbody > tr.bordered{
        border-top: 3px solid #ddd;
    }
    #signup_tabs .nav > li > a{
        padding: 5px;
    }
</style>

<style type="text/css" media="print">
    .dont-print{
        display: none !important;
    }
    body{
        background-color: #fff;
        margin: 0px;
    }
</style>
{% endcompress %}

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
<div class="container-fluid">
    <nav class="navbar navbar-default" role="navigation">

    <a class="navbar-brand" href="{% url 'dinner:index' %}">{% block header_title %}Dinner Signup{% endblock header_title %}</a>
        <div class="navbar-header pull-right">
        {% block header %}
        {% if request.user.is_authenticated() %}
        <p class="navbar-text">Signed in as {{ request.user.first_name }} {{ request.user.last_name }}</p>
        {% endif %}

        <ul class="nav navbar-nav">
            {% if not request.user.is_authenticated() %}
            <li><a target="_top" href="http://koornbeurs.nl/home?op=auth;method=init">Login</a></li>
            {% endif %}
        </ul>
        <h3 class="text-muted">{% block body_title %}{% endblock body_title %}</h3>
        {% endblock header %}
        </div>
    </nav>

    {% block body %}
    {% endblock body %}

    <div class="footer">
        <p><a href="http://wol.ph/">&copy; Wolph 2014</a></p>
    </div>

</div>

{% block footer %}
{% compress js %}
{% block footer_js %}
<script src="{{ STATIC_URL }}jquery/jquery-2.0.3.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}parsley/parsley.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}tagmanager/tagmanager.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}webshim/extras/modernizr-custom.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}webshim/polyfiller.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}js/jQuery.unserializeForm.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}js/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}js/jquery.history.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}js/jquery.tabs.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}js/dinner.parsley.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}js/django_csrf.js" type="text/javascript" charset="utf-8"></script>
{% endblock footer_js %}
{% endcompress %}

{% endblock footer %}

</body>
</html>
