<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title>{% block title %}{% endblock title %}</title>

{% block head %}
{% endblock head %}

<!-- Bootstrap core CSS -->
{% compress css %}
<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet">
<link href="{{ STATIC_URL }}tagmanager/tagmanager.css" type="text/css" rel="stylesheet">
<style type="text/css">
/*
div.btn-group[data-toggle=buttons-radio] input[type=radio] {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
*/
</style>
{% endcompress %}

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
<div class="container-fluid">
    <nav class="navbar navbar-default" role="navigation">

    <a class="navbar-brand" href="{% url 'dinner:index' %}">{% block header_title %}Dinner Signup{% endblock header_title %}</a>
        <div class="navbar-header pull-right">
        {% block header %}
        {% if request.user.is_authenticated() %}
        <p class="navbar-text">Signed in as {{ request.user.first_name }} {{ request.user.last_name }}</p>
        {% endif %}

        <ul class="nav navbar-nav">
            {% if not request.user.is_authenticated() %}
            <li><a href="http://koornbeurs.nl/home?op=auth;method=init">Login</a></li>
            {% endif %}
        </ul>
        <h3 class="text-muted">{% block body_title %}{% endblock body_title %}</h3>
        {% endblock header %}
        </div>
    </nav>

    {% block body %}
    {% endblock body %}

    <div class="footer">
        <p><a href="http://wol.ph/">&copy; Wolph 2013</a></p>
    </div>

</div>

{% block footer %}
{% compress js %}
{% block footer_js %}
<script src="{{ STATIC_URL }}jquery/jquery-2.0.3.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}parsley/parsley.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}tagmanager/tagmanager.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}webshim/extras/modernizr-custom.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}webshim/polyfiller.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}js/jQuery.unserializeForm.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}js/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}js/jquery.history.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}js/jquery.tabs.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
$.extend($.fn.parsley.defaults, {
  // basic data-api overridable properties here..
  inputs: 'input, textarea, select'           // Default supported inputs.
  , excluded: 'input[type=hidden], :disabled' // Do not validate input[type=hidden] & :disabled.
  , trigger: 'keyup change focusin focusout'  // $.Event() that will trigger validation. eg: keyup, change..
  , animate: false                            // fade in / fade out error messages
  , focus: 'first'                            // 'fist'|'last'|'none' which error field would have focus first on form validation
  , validationMinlength: 0                    // If trigger validation specified, only if value.length > validationMinlength
  , successClass: 'has-success'           // Class name on each valid input
  , errorClass: 'has-error'               // Class name on each invalid input
  , errorMessage: false                       // Customize an unique error message showed if one constraint fails
  , validators: {}                            // Add your custom validators functions
  , showErrors: true                          // Set to false if you don't want Parsley to display error messages
  , messages: {}                              // Add your own error messages here
 
  //some quite advanced configuration here..
  , validateIfUnchanged: true                 // false: validate once by field value change
  , errors: $.extend($.fn.parsley.defaults.errors, {
      classHandler: function ( elem, isRadioOrCheckbox ) {
        // specify where parsley error-success classes are set
        return $(elem).parents(".form-group");
      }
    , container: function ( elem, isRadioOrCheckbox ) {}
    , errorsWrapper: '<span class="help-block"></span>'                                        // do not set an id for this elem, it would have an auto-generated id
    , errorElem: '<p></p>'                                            // each field constraint fail in an li
  })
  , listeners: $.extend($.fn.parsley.defaults.listeners, {
      onFieldValidate: function ( elem, ParsleyForm ) { return false; } // Executed on validation. Return true to ignore field validation
    , onFormSubmit: function ( isFormValid, event, ParsleyForm ) {}     // Executed once on form validation
    , onFieldError: function ( elem, constraints, ParsleyField ) {}     // Executed when a field is detected as invalid
    , onFieldSuccess: function ( elem, constraints, ParsleyField ) {}   // Executed when a field passes validation
  })
});

/* Activate parsley on every blur of every input element */
$('input').focusout(function(){$(this).parsley('validate')});

$.ajaxSetup({
    crossDomain: false,
    beforeSend: function(xhr, settings) {
        if (!(/^(GET|HEAD|OPTIONS|TRACE)$/.test(settings.type))){
            xhr.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'));
        }
    }
});
jQuery('#cooks').tagsManager();
</script>
{% endblock footer_js %}
{% endcompress %}

{% endblock footer %}

</body>
</html>
