<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<script src="http://d3nslu0hdya83q.cloudfront.net/dist/1.0/raven.min.js"></script>
<script>
    if(typeof Raven !== 'undefined'){
        Raven.config('http://eea550b089554afc8c50a380bd2b2f83@sentry.wol.ph/6', {
            whitelistUrls: [/koornbeurs\.nl/, /www\.koornbeurs\.nl/]
        }).install();

        if(typeof Raven.process !== 'undefined')window.onerror = Raven.process;

        {% if request.user.is_authenticated() %}
        Raven.setUser({
            id: '{{ request.user.id|escape }}',
            email: '{{ request.user.email|escape }}',
            username: '{{ request.user.username|escape }}',
            first_name: '{{ request.user.first_name|escape }}',
            last_name: '{{ request.user.last_name|escape }}'
        });
        {% endif %}
    }
</script>

<title>{% block title %}{% endblock title %}</title>

{% block head %}
{% endblock head %}

<!-- Bootstrap core CSS -->
{% compress css %}
<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet">
<link href="{{ STATIC_URL }}tagmanager/tagmanager.css" type="text/css" rel="stylesheet">
<style type="text/css">
    .table > tbody > tr.bordered{
        border-top: 3px solid #ddd;
    }
    #signup_tabs .nav > li > a{
        padding: 5px;
    }
</style>

<style type="text/css" media="print">
    .dont-print{
        display: none !important;
    }
    body{
        background-color: #fff;
        margin: 0px;
    }
</style>
{% endcompress %}

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
<div class="container-fluid">
    <nav class="navbar navbar-default" role="navigation">

<!--[if lt IE 9]>
<div class="alert alert-danger hidden-print">Your browser is unfortunately _way_ too old to be supported.
Please use a different browser like Chrome or Firefox (or at least, IE9)
</div>
<![endif]-->

<div id="small-screen" class="alert alert-warning alert-dismissable hidden-print" style="display: none;">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <a class="alert-link" target="_top" href="{{ request.path }}">
        You appear to be using a browser with a small screen, click here to go fullscreen.
    </a>
</div>

    <a class="navbar-brand" href="{% url 'dinner:index' %}">{% block header_title %}Dinner Signup{% endblock header_title %}</a>
        <div class="navbar-header pull-right">
        {% block header %}

        <ul class="nav navbar-nav">
            {% if request.user.is_authenticated() %}
            <li><a target="_top" href="{% url logout %}">{{ request.user.first_name }} {{ request.user.last_name }} - Logout</a></li>
            {% else %}
            <li><a target="_top" href="{% url login %}">Login</a></li>
            {% endif %}
        </ul>
        <h3 class="text-muted">{% block body_title %}{% endblock body_title %}</h3>
        {% endblock header %}
        </div>
    </nav>

    {% block body %}
    {% endblock body %}

    <div class="footer">
        <p><a target="_top" href="http://wol.ph/">&copy; Wolph 2014</a></p>
    </div>

</div>

{% block footer %}
{% compress js %}
{% block footer_js %}
<script src="{{ STATIC_URL }}jquery/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}parsley/parsley.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}tagmanager/tagmanager.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}webshim/extras/modernizr-custom.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}webshim/polyfiller.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}js/jQuery.unserializeForm.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}js/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}js/jquery.history.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}js/jquery.tabs.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}js/dinner.parsley.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}js/django_csrf.js" type="text/javascript" charset="utf-8"></script>
{% endblock footer_js %}
{% endcompress %}

<script type="text/javascript" charset="utf-8">
    if(parent.document != document){
        parent.document.body.onresize=(function(){
            var width = 1 * parent.document.body.clientWidth;
            $('#small-screen').toggle(width < 725);
        });
        parent.document.body.onresize();
    }
</script>

<!--[if lt IE 9]>
<script src="{{ STATIC_URL }}jquery/jquery-migrate-1.2.1.js" type="text/javascript" charset="utf-8"></script>
<![endif]-->

{% endblock footer %}

</body>
</html>
